@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&display=swap");
body {
  background-color: #c0cfdb;
  font-size: calc(12px + 1vw);
  font-family: 'Bodoni Moda', serif;
  scroll-behavior: smooth;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0);
}

.lang img, .lang-toggler img {
  height: 2rem;
}

.nav-item {
  border-right: 1px solid black;
}
