// Font import
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

//Page body
body {
    background-color: #c0cfdb;
    font-size: calc(10px + 1vw);
    font-family: 'Lato', serif;
    scroll-behavior: smooth;
}


// Background and navigation classes
nav {
    background-color: rgba(0,0,0,0);
}

.lang img, .lang-toggler img {
   height: 2rem;
}

.nav-item {
    border-right: 1px solid #fff;
    letter-spacing: 0.1rem;
    font-weight: bold;
}